* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: linear-gradient(135deg, #000000, #420f0f);
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section {
    background-color: #4b2e03;
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    border: 2px solid #fff;
  }
  
  section img:first-of-type {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  .social {
    margin-top: 15px;
  }
  
  .social a img {
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  